<div class=" col-md-12 am-form-handsontable encabezadosHT">    

    <div class="am-form-input-wrap">
                 
        <div style="height: 52px; overflow: hidden; width: 1278px;" data-toggle="handsontable" data-width="" data-height="" data-contextmenu="true" data-rowheaders="true" data-autowraprow="true" data-manualrowresize="true" data-manualcolumnresize="true" data-manualrowmove="true" data-ajaxurl="/OTCS/cs.exe" data-ajaxreload="false" class="ht__manualRowMove handsontable htRowHeaders htColumnHeaders" data-originalstyle="height: 52px; overflow: hidden; width: 1278px;">
            <div class="ht_master handsontable" style="position: relative;">
                <div style="position: relative; width: 1278px; height: 52px;" class="wtHolder">
                    <div class="wtHider" style="width: 2850px; height: 50px;">
                        <div class="wtSpreader" style="position: relative; top: 0px; left: 0px;">
                            <table class="htCore">
                                <colgroup>
                                    <col class="rowHeader" style="width: 50px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="" style="height: 25px;">
                                            <div class="relative">
                                                <span class="colHeader cornerHeader">&nbsp;</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th><th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                        <th class="">
                                            <div class="relative">
                                                <span class="colHeader">Columna</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="">
                                            <div class="relative">
                                                <span class="rowHeader">1</span>
                                            </div>
                                        </th>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="htAutocomplete">
                                            <div class="htAutocompleteArrow">▼</div>
                                        </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="htBorders">
                                <div style="position: absolute; top: 0px; left: 0px;">
                                    <div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder fill corner" style="background-color: red; height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div>
                                </div>
                                <div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area corner" style="background-color: rgb(137, 175, 249); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current corner" style="background-color: rgb(82, 146, 247); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;">
                                </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <div class="ht_clone_top handsontable" style="position: absolute; top: 0px; left: 0px; overflow: hidden; width: 1261px; height: 30px;">
            <div style="position: relative; width: 1261px; height: 47px;" class="wtHolder">
                <div class="wtHider" style="width: 2850px;">
                    <div class="wtSpreader" style="position: relative; left: 0px;">
                        <table class="htCore">
                            <colgroup>
                                <col class="rowHeader" style="width: 50px;"><col style="width: 200px;">
                                <col style="width: 200px;"><col style="width: 200px;"><col style="width: 200px;"><col style="width: 200px;">
                                <col style="width: 200px;"><col style="width: 200px;"><col style="width: 200px;"><col style="width: 200px;">
                                <col style="width: 200px;"><col style="width: 200px;"><col style="width: 200px;"><col style="width: 200px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="" style="height: 25px;"><div class="relative"><span class="colHeader cornerHeader">&nbsp;</span></div>
                                    </th>
                                    <th class="">
                                        <div class="relative">
                                            <span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                        <th class=""><div class="relative"><span class="colHeader">Columna</span></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div class="htBorders"><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill corner" style="background-color: red; height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area corner" style="background-color: rgb(137, 175, 249); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current corner" style="background-color: rgb(82, 146, 247); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div></div></div></div></div></div><div class="ht_clone_left handsontable" style="position: absolute; top: 0px; left: 0px; overflow: hidden; height: 35px; width: 54px;"><div style="position: relative; height: 35px; width: 71px;" class="wtHolder"><div class="wtHider" style="height: 50px;"><div class="wtSpreader" style="position: relative; top: 0px;"><table class="htCore"><colgroup><col class="rowHeader" style="width: 50px;"></colgroup><thead><tr><th class="" style="height: 25px;"><div class="relative"><span class="colHeader cornerHeader">&nbsp;</span></div></th></tr></thead><tbody><tr><th class=""><div class="relative"><span class="rowHeader">1</span></div></th></tr></tbody></table><div class="htBorders"><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill corner" style="background-color: red; height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area corner" style="background-color: rgb(137, 175, 249); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current corner" style="background-color: rgb(82, 146, 247); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div></div></div></div></div></div><div class="ht_clone_top_left_corner handsontable" style="position: absolute; top: 0px; left: 0px; overflow: hidden; height: 30px; width: 54px;"><div style="position: relative;" class="wtHolder"><div class="wtHider"><div class="wtSpreader" style="position: relative;"><table class="htCore"><colgroup><col class="rowHeader" style="width: 50px;"></colgroup><thead><tr><th class="" style="height: 25px;"><div class="relative"><span class="colHeader cornerHeader">&nbsp;</span></div></th></tr></thead><tbody></tbody></table><div class="htBorders"><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill" style="background-color: red; height: 1px; width: 1px; display: none;"></div><div class="wtBorder fill corner" style="background-color: red; height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area" style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div><div class="wtBorder area corner" style="background-color: rgb(137, 175, 249); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div><div style="position: absolute; top: 0px; left: 0px;"><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current" style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div><div class="wtBorder current corner" style="background-color: rgb(82, 146, 247); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div></div></div></div></div></div></div><div class="manualColumnResizer" style="top: 254px; left: 890px; height: 26px;"></div></div>
        
   </div>


 </div>